.body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #1D3557;
    font-size: 16px;
    color: #F1FAEE;
}

.header {
    text-align: center;
}

.header > h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #F1FAEE;
}

#new-book-btn {
    background-color: #E63946;
    width: 150px;
    height: 75px;
    font-size: 24px;
    border-radius: 3px;
    color: #F1FAEE;
    border: none;
    margin-left: 24px;
}

#form-dialog {
    background-color: #4F5D75;
    color: #F1FAEE;
    border: none;
    border-radius: 10px;
    width: 25%;
}

#book-form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
}

input{
    width: 100%;
    height: 24px;
    font-size: 16px;
    border-radius: 5px;
}
.read-checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#read {
    margin: 0;
    width: 18px;
    height: 18px;
}

#confirmBtn, #cancelBtn {
    height: 24px;
    width: 100px;
    border: none;
}

#confirmBtn:hover, #cancelBtn:hover {
    background-color: #E63946;
    color: white;
    border: none;
}

#books {
    height: 300px;
    width: 250px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

#books > button {
    width: 33%;
    height: 25px;
    padding: 4px;
    border:none;
    outline: black 1px solid;
    color: white;
}

#removeBtn {
    background-color: #E63946;
}

#book-is-read {
    background-color: green;
}

#book-is-not-read {
    background-color: #E63946;
}